@model Proyecto_1223319_1003519.Models.Hospital

@{
    ViewBag.Title = "Hospital";
}

<h2>Estado del Hospital</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Camas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Camas)/10
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cola)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cola)
        </dd>

    </dl>
</div>

<input type="button" value="Ver camas" onclick="location.href='@Url.Action("Cama", "Paciente")'" />
<input type="button" value="Ver cola" onclick="location.href='@Url.Action("Cola", "Paciente")'" />

<p>
    @Html.ActionLink("Volver al inicio", "Index", "Paciente")
</p>