@model IEnumerable<Proyecto_1223319_1003519.Models.Hospital>

@{
    ViewBag.Title = "Index";
}

<h2>COVID-19</h2>

<p>
    @Html.ActionLink("Nuevo Paciente", "Create")
</p>

@using (Html.BeginForm("BuscarNombre", "Paciente", FormMethod.Post))
{
    <label for="file">Buscar por Nombre</label>
    <input type="text" name="text" id="text" placeholder="Nombre" />
    <input type="submit" value="Buscar" />
}

@using (Html.BeginForm("BuscarApellido", "Paciente", FormMethod.Post))
{
    <label for="file">Buscar por Apellido</label>
    <input type="text" name="text" id="text" placeholder="Apellido" />
    <input type="submit" value="Buscar" />
}

@using (Html.BeginForm("BuscarDPI", "Paciente", FormMethod.Post))
{
    <label for="file">Buscar por DPI</label>
    <input type="text" name="text" id="text" placeholder="DPI" />
    <input type="submit" value="Buscar" />
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Camas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cola)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Camas)/10
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cola)
            </td>
            <td>
                @Html.ActionLink("Estado", "Hospital", new { id = item.ID })
            </td>
        </tr>
    }

</table>

<br />
<input type="button" value="Estadisticas" onclick="location.href='@Url.Action("Estadisticas", "Paciente")'" />